name: 'Hashnode Blogs'

on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * *' # Runs every hour, on the hour.

jobs:
  update_blogs:
    name: 'Hashnode Latest Blogs'
    runs-on: ubuntu-latest
    steps:
      - name: 'Fetch Repository Contents'
        uses: actions/checkout@v3

      - name: 'Hashnode Blog Action'
        uses: "Sachin-chaurasiya/hashnode-blog-action@v0.0.8"
        with:
          HASHNODE_PUBLICATION_NAME: 'blog.siddhantsancheti.ai'
          FORMAT: 'list'
        env:
          GITHUB_TOKEN: ${{ secrets.HASHNODE_PAT }}
